.header {
  width: 90vw;
  height: 10vh;
  border: 1px solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 25px;
}

.footer {
  width: 90vw;
  height: 10vh;
  border: 1px solid white;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 25px;
}

.active {
  color: rgb(0, 233, 245);
  text-decoration: underline;
}