.container {
  width: 90vw;
  border: 1px solid white;
  margin: auto;
}

.blog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.post {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}